
  /* style for contact section */

#contact {
    width: 100%;
    min-height: 100vh;
    padding: 20px 0;
    background: linear-gradient(45deg, #2400402e, #ff3a3a1e);
}

.section-header {
  text-align: center;
  margin: 30px auto;
  padding: 40px 0;
  font: 300 calc(var(--s) * 60px) 'Josefin Sans', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 500;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #00000062;
  color: #fff;
  letter-spacing: 1px;
  border: 1px solid #fff;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
  box-sizing: border-box;
  background: linear-gradient(90deg, #ff6ec4, #7873f5);
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  border-radius: 30px;
}

.alt-send-button {
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  font: 700 12px 'Josefin Sans', sans-serif;
  letter-spacing: 2px;
  margin-top:14px;
}

.fa-paper-plane {
  margin-top:6px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Josefin Sans', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 22px;
}

.phone {
  margin-left: 22px;
}

.gmail {
  margin-left: 15px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list a {
  color: #fff;
}

.social-media-list a {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
  box-shadow: 0 0 10px #7873f5;
}

.social-media-list a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list a:hover {
  background-color: #f4f4f4; 
  color: #000;
}

.social-media-list a:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list a:hover a {
  color: #000;
}

.copyright {
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

.fa-brands, .fab {
    transform: translateY(3px);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
    width:100%;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
  }    
  .social-media-list a {
    height: 50px;
    width: 50px;
    line-height: 60px;
  }
  .social-media-list a:after {
    width: 50px;
    height: 50px;
    line-height: 60px;
  }
  .fa-brands, .fab {
    transform: translateY(-2px);
}
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
