
/* =====================
   PROJECTS SECTION
   ===================== */
.projects {
    max-width: 1100px;
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 20px; 
  
  }
.project {
    background: #1e162b;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.566);
    padding: 20px;
    box-shadow: 5px 5px 8px 1px #7773f57e, -5px -5px 8px 1px #ff6ec581;
    transition: transform 0.3s;
}
.project:hover {
    transform: translateY(-10px);
}
.project h2 {
    margin-top: 0;
    color: #fff36a;
}
.project p {
    font-size: 15px;
    opacity: 0.9;
}
.notgonnaboast {
    grid-column: 1 / -1;
    text-align: center;
    background: #1e162b;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 20px #7873f5, -5px -5px 20px #ff6ec4;
}
.forthenerds {
    margin-top: 15px;
}
.forthenerds button {
    padding: 10px 15px;
    background: linear-gradient(90deg, #009847, #008e4e);
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
    border: none;
    border-radius: 30px;
}
.forthenerds button a {
    color: #fff;
    text-decoration: none;
}

.projects-title {
    text-align: center;
    font-size: 42px;
    padding: 70px 0 0 ;
    background: linear-gradient(90deg, #ff6ec4, #7873f5);
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

